
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus vero nulla sit odio beatae dolorem impedit rem. Quis facilis perspiciatis quidem explicabo tempore nam beatae ea voluptates! Aliquam, explicabo corporis.</p>
